body
{
  color: white;
  background-image: linear-gradient(to right top, #f133a2, #d925b5, #c1186c, #aa0a6f, #94005b);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name_2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}